<section style="height: 600px;">


<section class="uk-container" >
    <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex"
        style="margin-top: 1rem;background-image: url('/images/banner.jpg');">
    <div  class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 uk-parallax="opacity: 0,1,1; y: -100,0,0; x: 100,100,0;start: 0%; scale: 2,1,1; end: 50vh + 50%;">Proyectos</h1>
            <div uk-parallax="opacity: 0,1,1; y: 100,0,0; x: -100,-100,0; scale: 0.5,1,1; end: 50vh + 50%;">
                
                <div class="uk-slider-container-offset" uk-slider="center: true">

                
                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                        <div class="uk-slider-items uk-child-width-1-2@s uk-grid">
                            <div>
                                <div style="height: 500px;" class="uk-card uk-card-large uk-card-default ">
                                    <div class="uk-card-media-top">
                                        <img src="images/light.jpg" width="1800" height="1200" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Media Top</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                    <div class="uk-card-footer">
                                        <a href="#" class="uk-button uk-button-text">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card uk-card-default ">
                                    <div class="uk-card-media-top">
                                        <img src="images/light.jpg" width="1800" height="1200" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Media Top</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                    <div class="uk-card-footer">
                                        <a href="#" class="uk-button uk-button-text">Read more</a>
                                    </div>
                                </div>
                            </div>
                    
                            <div>
                                <div class="uk-card uk-card uk-card-default ">
                                    <div class="uk-card-media-top">
                                        <img src="images/light.jpg" width="1800" height="1200" alt="">
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Media Top</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                    <div class="uk-card-footer">
                                        <a href="#" class="uk-button uk-button-text">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
                    
                    </div>
                </div>
            </div>      
    </div>
    </div>
</section>

</section>
